body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  /* background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.cont {
  max-width: 700px;
  margin: 0 auto;
  border-radius: px;
  max-height: 800px;
}
.photo {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  border-radius: 40%; /* Makes the image circular */
  object-fit: cover;
}
.hello {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  box-shadow: ;
}
.hello:hover{
  background-color: white;

}
.hi {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  /* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */
}
.pt {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-size: 20px;
}
